<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/cli-nav.ejs') %>
        <h1>index page - pre-sprint prep</h1>
        <h2>Welcome to the index page, <%= name %>.</h2>
    </body>
</html>