<!doctype html>
<html>
<body>
    add a new user:<br />
    <form action="/new" method="post">
        <input type="text" name="username" /><br />
        <button>Save</button>
    </form>
    <%- include('./partials/cli-nav.ejs') %>
</body>
</html>